body {
  background-color:hsl(0, 0%, 95%);
}

.container {
  display:grid;
  grid-template-columns:repeat(3,1fr);
  max-width:70%;
  margin:500px auto;
}

.sedans {
  background-color:hsl(31, 77%, 52%);
}

.suvs {
  background-color:hsl(184, 100%, 22%);
}

.luxury {
  background-color:hsl(179, 100%, 13%);
}